include ./videoPlayer

mixin videoBlock(video = {})
    .videoBlock
        //+videoPlayer({src:video.fileUrl})
        video.videoBlock__thumbnail(src=video.fileUrl, controls=true)
        h4.videoBlock__title=video.title
        a(href=routes.videoDetail(video.id)) Detail
        if video.views === 1
            h6.videoBlock__views 1 view
        else
            h6.videoBlock__views #{video.views} views